
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Education</h2>
            <p></p>
            <p><a class="btn btn-default" href="http://yahoo.com">Where Russ got his dev skillz&raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Experience</h2>
            <p></p>
            <p><a class="btn btn-default" href="http://sql.com">What Russ done as developer&raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Personal</h2>
            <p></p>
            <p><a class="btn btn-default" href="http://mvc.com">Who is  Russ&raquo;</a></p>
        </div>
    </div>
</div>
