@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Hello!</h1>
    <p class="lead">My name is Russ! Welcome to my blog!</p>
    <p><a href="http://google.com" class="btn btn-primary btn-lg">About Me</a></p>
</div>